*.class
target/
.settings
.project
.classpath
.idea/*
/src/frontend/dist
/src/frontend/src/assets/css/*.css
/src/backend/userportal-web/velocity.log
/src/backend/userportal-executor-web/logs
/src/frontend/.idea
/src/backend/.idea
/src/backend/userportal-buz/*.iml
/src/backend/userportal-web/file_resource
/src/backend/userportal-web/initData
/src/backend/userportal-web/tmp_file
/src/backend/userportal-web/export_csv
